# Ignore everything
*

# Do not ignore directories themselves
!*/

# Do not ignore files in the current directory
!.*

# Specifically allow the files in this directory
!index.html
!styles.css
!script.js
